* {
    font-family: Arial;
    font-style: italic;
}

body {
    background-color:#eeeeee;
    color:#212121;
}

#container {
    z-index:-1;
}

.message {
    font-size: 100px;
    font-family: 'Alegreya SC', serif;
}